body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

header {
    background-color: #221958;
    height: 80px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1050px;
    margin: 0 auto;
    height: inherit;
    color: white;
}

.container a {
    margin: 0 20px;
}

button {
    border: 1px solid transparent;
    font-size: 20px;
    border-radius: 30px;
    background-color: #fff;
    color: #3a414e;
    margin-left: 10px;
}
.main2 button{border: 1px solid black}
button:hover {
    background: #221958;
    border: 1px solid white;
    color: white;
  }

.main {
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    background-color: #221958;
}

.text {
    color: white;
    margin: 0 auto;
}

.c1 {
    max-width: 1200px;
    display: flex;
    width: 100%;
    padding-right: 170px;
    padding-left: 170px;
    margin-right: auto;
    margin-left: auto;
}

.c2 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 50px;
    padding-left: 50px;
}

.img2 {
    max-width: 500px;
}
.main1 {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.c3{
    max-width: 630px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 85px;
    text-align: center;
}
.row{
    display: flex;
    margin: 0 auto;
    max-width: 1140px;
    margin-bottom: 50px;
    
}
.row div:hover{
    -webkit-box-shadow: 0px 15px 30px 0px rgba(33, 22, 106, 0.1);
    box-shadow: 0px 15px 30px 0px rgba(33, 22, 106, 0.1)
    }

.card {
    text-align: center;
    background-color: #faf9ff;
    margin-left: 15px;
    margin-right: 15px;
}
.section2 {
     background-color: #faf9ff; 
     align-items: center;
}
.main2 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-top: 200px;
}
.row div:hover{
    border: 0.1px solid rgba(0, 0, 0, 0.125);
   -webkit-box-shadow: 0px 15px 30px 0px rgba(33, 22, 106, 0.1);
   box-shadow: 0px 15px 30px 0px rgba(33, 22, 106, 0.1)
}
.features{
    padding-top: 20px;
    margin: 0 auto;
    text-align: center;
    max-width: 700px;
}
.main3{
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 70px;
    
}
.card2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}
.card2 div{
    width: 200px;
    height: 200px;
    background-color: #faf9ff;
    text-align: center;
}
.card2 div:hover{
    border: 0.1px solid rgba(0, 0, 0, 0.125);
   -webkit-box-shadow: 0px 15px 30px 0px rgba(33, 22, 106, 0.1);
   box-shadow: 0px 15px 30px 0px rgba(33, 22, 106, 0.1)
}
.card2 div:nth-child(even){
    margin-top: 30px;
    margin-left: 20px;
}
.img3{
    margin-left: 100px;
}
